@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --body_background: white;
    --body_color: white;
    --article: white;
    --article_text:black;
  }
 
  [dark-theme="dark"]{
    --body_background: white;
    --body_color: black;
    --article: black;
    --article_text:white;


  }

  @media (min-width: 420px) and (max-width: 767px) {
    .articles {
      font-family: serif !important;
      font-size: 19px !important;
      line-height: 1.2 !important;
      color: black !important;
    }
  }
  
  @media (min-width: 768px) {
    .heights {
      height: 450px;
    }
    .articles {
      font-family: "serif";
      font-size: 22px;
      line-height: 1.2;
      color: black;
    }
  }
  
  body{
    background-color: white;
    color: white;
    overflow-x: hidden;
  }
  .transparent-color{
    background-color: rgb(0, 0, 0, .7);
  }
  .textarticle{
  color: var(--body_color);
  }
  .article_text{
    background-color: var(--article);
    color: var(--article_text);
  }

  .bg-menu{
    background-color: rgb(0, 0, 0, .7);
  }
  .bg-header{
    background-color: white;
    z-index: 1000px;
  }
  .transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .hide{
    display: none;
    animation: hideMenu 8s ease-in-out ;

  }
  .blocked{
    display: block;
    animation: showMenu 0.5s ease-in-out ;
  }
  
  @keyframes showMenu {
    from{
     transform: translateX(260px);
    }
    to{
     transform: translateX(0px);
    }
   }
   @keyframes hideMenu {
     from{
      transform: translateX(-260px);
     }
     to{
      transform: translateX(-126px);
     }
    }
   